quick_access_manager/config/*.json
quick_access_manager/config/icon/*.png
quick_access_manager/backup/
quick_access_manager/doc/
quick_access_manager/logs/
quick_access_manager/gesture/config/*.json
quick_access_manager/gesture/icon/*.png
__pycache__/
settings.local.json
quick_access_manager/gesture/gesture.json