[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=quick_access_manager
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Quick Access Manager
Comment=Docker plugin for quick access features in Krita